.hello {
  background-color: rgb(62, 62, 62);
}

body {
  font-family: 'Inter', 'Poppins', Arial, sans-serif;
  background-color: #121212;
  color: #f1f1f1;
}
.bg-custom {
  background-image: linear-gradient(135deg, #1f4037, #99f2c8);
  filter: drop-shadow(2px 4px 6px black);
}
.bg-custom2 {
  background-image: linear-gradient(135deg, #1d4350, #a43931);
  filter: drop-shadow(2px 4px 6px black);
}

.fa-2xl {
  color: white;
  &:hover {
    color: #40ff00;
  }
}

.style-none {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #050505;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(0deg, #ff5858 0%, #f09819 100%);
  box-shadow: inset 2px 2px 5px 0 rgba(rgb(0, 0, 0), 0.5);
}
